/* this is universal style */
*{
    margin: 0;
    padding: auto;
 }


/* this is card style */
.fullCard{
    background: red;
    box-shadow: 4px 4px 4px;
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    width: 390px;
    display: inline-block;
     }

/* this is cardTitle */
.officialName{
    text-align: center;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    background-color: greenyellow;
         }

/* this is cardText */
.generalName{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: green;
    background-image: -webkit-image-set();

        }

/* this is cardDate */
.born{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    background-color: blue;

        }
        .founder{}
        .primeMinister{}
        .continentName{}
        .area{}
        .division{}
        .district{}
        .mainEconomy{}
        .famousFor{}